<div class="row no-gutters post-bar">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h4 class="post-title">{{post_title }}: {</h4>
    <article class="post" data-id="{{id}}">
    <span class="author">// {{ post_author.username }}</span>
    <br>
    <span class="created">// {{ format_date createdAt }}</span>
      <p class="post-text">
        post: <span class="string">'{{ blog_content }}'</span>,
      </p>
      <p class="post-text">comments: <span class="comments-expand">{...} <i class="fas fa-sort-down expand"></i></span></p>
      <div class="comments indent hide">
        <p class="bracket">[</p>
        <div class="indent">
          {{#each post_comments as |comment|}}
          <p class="curly">{</p>
          <div class="indent">
            {{#if (if_equal userId comment_author.id)}}
            <a href="">edit</a>
            {{/if}}
            <p>comment: <span class="string">'{{ comment.comment_content }}'</span>,</p>
            <p>author: <span class="string comment-author" data-author="{{comment_author.id}}">'{{ comment_author.username }}'</span>,</p>
            <p class="created">// {{ format_date comment.createdAt }}</p>
          </div>
          <p class="curly">},</p>
          {{/each}}
        </div>
        <p class="bracket">],</p>
      </div>
    </article>
    <h4 class="close-post">},</h4>
  </div>
</div>
<div class="row no-gutters justify-content-center post-bar">
  {{> comment-post}}
</div>